.search-box {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
}

.search-box input {
  flex-grow: 1;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-box input:focus {
  border-color: var(--primary-color);
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 0 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: #217dbb;
}
