.navbar {
  background-color: var(--dark-color);
  padding: 1rem 0;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.5rem;
  font-size: 1.8rem;
  color: var(--primary-color);
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu li {
  margin-left: 1.5rem;
}

.navbar-menu a,
.navbar-menu button {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.navbar-menu svg {
  margin-right: 0.5rem;
}

.btn-transparent {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }
  
  .navbar-menu {
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .navbar-menu li {
    margin: 0.5rem;
  }
}
